@charset "UTF-8";


.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: #EFE9DF;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.btn1 {
  background-color: #EFE9DF;
  color: #BC9C96;
  text-decoration: none;
  font-size : 15px;
  text-align : center;
  line-height: 42px;
  padding: 0;
  position : absolute;
  right : 350px;
}
.btn1:hover {
  background: transparent;
  color: #000;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
   text-decoration: none;
}
.btn1:before,
.btn1:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
.btn1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn1:hover:before,
.btn1:hover:after{
  width:100%;
  transition:800ms ease all;
}

.container {
  margin-top : 30px;
}

/*#writeBtn{
	background-color:#EFE9DF;

}*/